.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}

.bg-primus-color {
    background-color: var(--color_primus);
}
.bg-primus-color-dark-2 {
    background-color: var(--color_primus_dark_2);
}

.all-page-vp {
    width: 100vw;
    height: 100vh;
}
.all-page {
    width: 100%;
    height: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute-pos {
    position: absolute;
}

.z-1 {
    z-index: 1;
}

.no-exceed-x-y {
    overflow-y: hidden;
    overflow-x: hidden;
}

.clickable {
    cursor: pointer;
}

.pd-1 {
    padding: 1rem;
}
.pd-2 {
    padding: 2rem;
}
.pd-3 {
    padding: 3rem;
}
.pd-4 {
    padding: 4rem;
}

.color-warning {
    color: var(--warning) !important;
}
.color-success {
    color: var(--success) !important;
}

.bg-color-warning {
    background-color: var(--warning) !important;
}
.bg-color-success {
    background-color: var(--success) !important;
}